# https://www.dexterindustries.com/howto/run-a-program-on-your-raspberry-pi-at-startup/

[Unit]
Description=Newracom Halow AP Service
After=network.target

[Service]
Type=forking
WorkingDirectory=/home/pi/nrc_pkg/script/
ExecStart=/usr/bin/python /home/pi/nrc_pkg/script/start.py 1 0 US
ExecReload=/usr/bin/python /home/pi/nrc_pkg/script/start.py 1 0 US
ExecStop=/usr/bin/python /home/pi/nrc_pkg/script/stop.py
#Restart=on-failure
User=pi
Group=pi

[Install]
WantedBy=multi-user.target
